@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Inter Regular";

  font-display: swap;
  src: url("../assets/fonts/inter-regular.woff2") format("woff2"),
  url("../assets/fonts/inter-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Inter Medium";

  font-display: swap;
  src: url("../assets/fonts/inter-medium.woff2") format("woff2"),
  url("../assets/fonts/inter-medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Inter Semi-bold";

  font-display: swap;
  src: url("../assets/fonts/inter-semi-bold.woff2") format("woff2"),
  url("../assets/fonts/inter-semi-bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Inter Bold";

  font-display: swap;
  src: url("../assets/fonts/inter-bold.woff2") format("woff2"),
  url("../assets/fonts/inter-bold.woff") format("woff");
}

:root {
  --black-pearl: #1c1e20;
  --blue-marguerite: #7767b6;
  --blur-background: rgba(0, 0, 0, 0.6);
  --chenin: #dbc678;
  --early-dawn: #f9f2e0;
  --festival: #f5ce40;
  --floral-white: #fefdf9;
  --husk: #b79e49;
  --inter-bold: "Inter Bold", sans-serif;
  --inter-medium: "Inter Medium", sans-serif;
  --inter-regular: "Inter Regular", sans-serif;
  --inter-semi-bold: "Inter Semi-bold", sans-serif;
  --lavender: #e8e6f2;
  --lavender-blue: #bdadfd;
  --matterhorn: #545353;
  --moon-light: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  --rebel: #403d3c;
  --sun-light: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  --white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100%;
}

body {
  min-width: 320px;
  height: 100%;
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  font-family: var(--inter-regular);
  color: var(--rebel);

  background-color: var(--floral-white);
}

main {
  flex-grow: 1;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 960px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 20px 20px;
}

/* DARK_MODE */

body.dark-mode {
  background-color: var(--black-pearl);
}

.dark-mode .header__toggle {
  background-color: var(--floral-white);
}

.dark-mode .header__icon {
  background-color: var(--rebel);

  mask-image: url("../assets/svg/sun.svg");
}

.dark-mode .header__toggle:hover .header__icon {
  background: var(--sun-light);
}

.dark-mode .header__link {
  color: var(--floral-white);
}

/* HEADER */

.header {
  position: relative;

  padding: 30px 0;
}

.header__link {
  font-size: 18px;
  font-family: var(--inter-semi-bold);
  color: var(--rebel);
}

.header__toggle {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;

  background-color: var(--rebel);
  border: none;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 2px 10px rgba(64, 61, 60, 0.4);
  cursor: pointer;

  transition: all 0.4s cubic-bezier(0.45, 0, 0.55, 1);
}

.header__toggle:hover {
  height: 55px;
}

.header__icon {
  display: block;
  width: 25px;
  height: 25px;

  background-color: var(--floral-white);

  mask-image: url("../assets/svg/moon.svg");
  mask-repeat: no-repeat;
  mask-size: 25px 25px;
}

.header__toggle:hover .header__icon {
  background: var(--moon-light);

  transition-duration: 1s;
}

/* PORTFOLIO */

.portfolio {
  columns: 2 450px;

  @media (max-width: 950px) {
    columns: 2 350px;
  }

  @media (max-width: 750px) {
    columns: 2 300px;
  }
}

.portfolio__item {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  padding: 22px 24px 25px;
}

/* PORTFOLIO: intro */

.intro {
  position: relative;

  padding: 18px 24px;
  overflow: hidden;

  background-color: var(--white);
  border: 1px solid var(--black-pearl);
  border-radius: 4px;
}

.intro__animation {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.intro__animation-icon {
  height: 100vh;
}

.intro__img {
  display: block;

  border-radius: 50%;
}

.intro__wrapper {
  position: relative;
  z-index: 5;

  display: grid;
}

.intro__headline {
  display: flex;
  align-items: center;

  column-gap: 10px;
}

.intro__title {
  margin: 0;

  font-size: 32px;
  font-family: var(--inter-bold);

  @media (max-width: 400px) {
    font-size: 25px;
  }
}

/* BADGES */

.badges {
  display: flex;
  flex-wrap: wrap;

  font-size: 12px;
  line-height: 12px;
  column-gap: 10px;

  row-gap: 10px;
}

.badge {
  display: flex;
  align-items: center;
  padding: 6px 10px;

  column-gap: 4px;

  border-radius: 6px;
}

/* BADGES: icons */

.badge::before {
  content: "";

  display: block;
  width: 12px;
  height: 12px;

  mask-repeat: no-repeat;
  mask-size: 12px 12px;
}

.badge-html.badge::before {
  mask-image: url("../assets/svg/badges/html.svg");
}

.badge-css.badge::before {
  mask-image: url("../assets/svg/badges/css.svg");
}

.badge-sass.badge::before {
  mask-image: url("../assets/svg/badges/sass.svg");
}

.badge-js.badge::before {
  mask-image: url("../assets/svg/badges/javascript.svg");
}

.badge-ts.badge::before {
  mask-image: url("../assets/svg/badges/typescript.svg");
}

.badge-react.badge::before {
  mask-image: url("../assets/svg/badges/react.svg");
}

.badge-redux.badge::before {
  mask-image: url("../assets/svg/badges/redux.svg");
}

.badge-git.badge::before {
  mask-image: url("../assets/svg/badges/git.svg");
}

.badge-api.badge::before {
  mask-image: url("../assets/svg/badges/api.svg");
}

.badge-json.badge::before {
  mask-image: url("../assets/svg/badges/json.svg");
}

.badge-figma.badge::before {
  mask-image: url("../assets/svg/badges/figma.svg");
}

.badge-storage.badge::before {
  mask-image: url("../assets/svg/badges/storage.svg");
}

/* BADGES: colors */

.intro__badges .badge {
  color: var(--floral-white);

  background-color: var(--rebel);
}

.intro__badges .badge::before {
  background-color: var(--floral-white);
}

.portfolio__item.project .badge {
  color: var(--rebel);
}

.portfolio__item.project .badge::before {
  background-color: var(--rebel);
}

/* PORTFOLIO: social */

.links {
  padding: 12px 24px;

  background-color: var(--white);
  border: 1px solid var(--black-pearl);
  border-radius: 4px;
}

.links__wrapper {
  display: flex;
  justify-content: center;

  column-gap: 20px;

  @media (max-width: 750px) {
    column-gap: 15px;
  }

  @media (max-width: 500px) {
    column-gap: 10px;
  }
}

.links__item {
  display: flex;
  align-items: center;
  padding: 8px 8px;

  background-color: var(--rebel);
  border-radius: 40px;
}

.links__item::before {
  content: "";

  width: 20px;
  height: 20px;

  background-color: var(--floral-white);

  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 20px 20px;
}

.github.links__item::before {
  mask-image: url("../assets/svg/social/github.svg");
}

.habr.links__item::before {
  mask-image: url("../assets/svg/social/habr.svg");
  mask-size: 25px 25px;
}

.linkedin.links__item::before {
  mask-image: url("../assets/svg/social/linkedin.svg");
  mask-size: 12px 12px;
}

.codepen.links__item::before {
  mask-image: url("../assets/svg/social/codepen.svg");
}

.gmail.links__item::before {
  mask-image: url("../assets/svg/social/gmail.svg");
}

.links__item:hover .links__sign {
  @media (min-width: 550px) {
    margin-left: 5px;

    font-size: 16px;

    opacity: 1;
  }
}

.links__sign {
  font-size: 0;
  line-height: 18px;
  font-family: var(--inter-medium);
  color: var(--floral-white);

  opacity: 0;

  transition: all 0.6s cubic-bezier(0.37, 0, 0.63, 1);
}

/* PROJECT */

.project__wrapper {
  display: grid;

  row-gap: 13px;
}

.project__headline {
  display: flex;
  justify-content: space-between;
  align-items: center;

  column-gap: 10px;
}

.project__title {
  margin: 0;

  font-size: 30px;
  font-family: var(--inter-bold);
}

.project__links {
  display: flex;

  column-gap: 10px;
}

.project__subtitle {
  font-size: 18px;
  font-family: var(--inter-semi-bold);

  opacity: 0.7;
}

.project__description {
  margin: 0;
}

.project__demo-link {
  position: relative;
  bottom: -24px;

  display: block;
}

.project__demo-link:hover .project__img {
  filter: grayscale(0.9) blur(1px);
}

.project__demo-link:hover .project__demo-mark {
  opacity: 1;
}

.project__demo-mark {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;

  display: block;
  max-width: 110px;
  padding: 5px 10px;

  text-align: center;
  color: var(--floral-white);

  background-color: var(--blur-background);
  border-radius: 40px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}

.project__img {
  display: block;
  width: 100%;
  height: 100%;

  filter: drop-shadow(1px 1px 5px var(--rebel));
}

.project__link {
  padding: 4px 10px;

  background-color: var(--rebel);
  border-radius: 40px;

  transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
}

.project__link:hover {
  transform: scale(1.1);
}

.project__link:active {
  transform: scale(0.9);
}

.project__link::before {
  content: "";

  display: block;
  width: 20px;
  height: 20px;

  background-color: var(--floral-white);

  mask-repeat: no-repeat;
  mask-size: 20px 20px;
}

.project__link--code::before {
  mask-image: url("../assets/svg/code.svg");
}

.project__link--demo::before {
  mask-image: url("../assets/svg/link.svg");
}

/* PROJECT: colors */

.project.lavender {
  background: linear-gradient(var(--lavender) 95%, transparent 95%);
}

.lavender .project__link {
  background-color: var(--blue-marguerite);
}

.lavender .badge {
  background-color: var(--lavender-blue);
}

.project.husk {
  background: linear-gradient(var(--early-dawn) 95%, transparent 95%);
}

.husk .project__link {
  background-color: var(--husk);
}

.husk .badge {
  background-color: var(--chenin);
}
